@media only screen and (max-width:600px) {
    #about-me{
        padding: 30px;
    }
    .parent-about-container{
        flex-direction: column;
    }
    .parent-skills{
        flex-direction: column;
    }
    /* box icons */
    .perent-adam-icon{
        flex-direction: column;
        gap: 20px;
    }
    .parent-adam-icons-2{
        flex-direction: column;
        gap: 20px;
    }
    .parent-boxes{
        flex-direction: column;
        flex-flow: wrap;
        align-items: center;
        gap: 40px;
    }
    .parent-Creative{
        flex-direction: column;
        align-items: center;
        gap:10px;
    }
    .parent-Creative1{
        flex-direction: column;
        align-items: center;
        gap:10px;
    }
    .parent-container{
        flex-direction: column;
        align-items: center;
        gap: 60px;
    }
    .parent-details{
        flex-direction: column;
    }
    .contact-foam{
        flex-direction: column;
    }
    
    .parent-footer{
        flex-direction: column;
        align-items: center;
    }    
}